.calculadora-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .calculadora-container div {
    margin-bottom: 10px;
  }
  
  .calculadora-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .calculadora-container input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .calculadora-container h2 {
    margin-top: 20px;
  }
  
  .calculadora-container button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
  }
  
  .calculadora-container button:hover {
    background-color: #45a049;
  }
  