.App {
  text-align: center;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  background-color: #87f1ff;
  color: rgb(2, 2, 2);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #1bdaf3;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}